Checks: '-*,readability-identifier-naming'
HeaderFilterRegex: '.*/(app-core|app-cli|app-gui)/.*'
CheckOptions:
  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.FunctionIgnoredRegexp: '^main$'
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.PublicMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberPrefix: 'm_'
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.StaticVariableCase: lower_case
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
