---
BasedOnStyle: Microsoft
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
ColumnLimit: 120
---
